.contact-section {
    position: relative; /* Ensure content appears above animation */
    padding: 1.25rem; /* 20px */
    background-color: #141414;
    color: white;
    z-index: 1; /* Layer content above the background */
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem; /* 32px */
    color: #e50914;
    margin-bottom: 1.25rem; /* 20px */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
  }
  
  .contact-form label {
    font-size: 1rem;
    text-align: left; /* 16px */
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.625rem; /* 10px */
    font-size: 1rem; /* 16px */
    border: none;
    border-radius: 0.3125rem; /* 5px */
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: 0.125rem solid #e50914; /* 2px */
  }
  
  .contact-form textarea {
    resize: none;
    height: 6.25rem; /* 100px */
  }
  
  .send-button {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 1rem; /* 16px */
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: white;
    color: #e50914;
  }
  
  .success-message {
    margin-top: 1.25rem; /* 20px */
    color: green;
    font-size: 1.2rem; /* 19.2px */
  }
  