/* src/components/Projects.css */
.projects-section {
  position: relative; /* Ensure content appears above animation */
  padding: 20px;
  background-color: #141414;
  color: white;
  z-index: 1; /* Layer content above the background */
  text-align: center;
}

  
  .projects-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  